<h3>Search For Photos</h3>

<%= form_with(url: search_path, method: :get, local: true) do |form| %>
  <%# <div class='search-container'> %>

    <%= form.text_field :user_id, class: 'search-input', placeholder: 'Enter a Flickr User ID' %>

    <%= form.submit :Search, id: 'search-button' %>
  <%# </div> %>
<% end %>

<%= render 'photos', photos: @photos %>