/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  margin:0;
  padding:0;
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(45deg,#f9fcff, #f1fbfd, #eff5fc); */
  /* font-family: 'Nanum Myeongjo', serif; */
  font-weight: 400;
}

 /* header */

header {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  background-color: #006ac0;
  box-sizing: border-box;
}

/* container for all pages excluding header */

.page-body {
  padding: 1vh 10vw 2vw 10vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* flash */

.flash-container {
  background-color: #7c7aff4f;
}

#notice {
  padding: 1vh;
  color: rgb(22, 129, 76);
  font-family: verdana, arial, helvetica, sans-serif;
}

/* search form */

.search-container {
  /* width: $booking-width; */
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cecece;
  padding: 15px;
}

.search-input {
  width: 80%;
  height: 2.5vh;
  border: 1px solid gray;
}

.search-input:focus {
  outline: none;
  background-color: #ccddff7c;
}

/* photo display */

/* #photos-container {
  display: grid;
} */

#photos-container {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  
}

#photos-container img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}